#gamecontainer {
    width:640px;
    height:480px;
    background: url(images/splashscren.png);
    border: 1px solid black;
}

.gamelayer {
    width:640px;
    height:480px;
    position:absolute;
    display:none;
}

/* Pantalla de inicio del juego */
#gamestartscreen {
    padding-top:250px;
    text-align:center;
}

#gamestartscreen img {
    margin:10px;
    cursor:pointer;
}